<!--Layout Pagina-->
  <div style="text-align:center">
    
      <!--Navbar-->
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
                <a><img src="AS.png" alt="AS" width="50" height="50"></a>  
          
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Portifolio</a></li>
              <li><a href="#">Sobre</a></li>
              <li><a href="#">Entre em Contato 2</a></li>
            </ul>
          </div>
        </nav>
        <br>
        <!--Navbar-->
      <div style="overflow:baixo">
        
      
        <div class="main" >
          <h2 style="text-aling: center">SOBRE</h2>
          <p> IMAGEM DA PESSOA </p>
          <br>
          <p> Descrição de quem é </p>
        </div>
      
        <div class="right">
          <h2>About</h2>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
        </div>
      </div>
      
      <div style="background-color:#00A2E8;text-align:center;padding:10px;margin-top:7px;">e-mail, telefone
        <font face ="Brush script mt"><h1>Luana Cristina</h1></font>

      </div>
</div>
<!--FIM Layout pagina-->
<router-outlet></router-outlet>
