<!--Layout Pagina-->
  <div style="text-align:center">
    
      <!--Navbar-->
      
     
      <nav class="navbar navbar-light" style="background-color: #4d1666; navbar navbar-inverse">

  <div class="container-fluid">
      <div class="navbar-header">
          <a><img src="AS.png" alt="AS" width="50" height="50"></a>  
        </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Portifolio</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sobre</a>
    
        </li>
        <li><a href="#"> Entre em Contato</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
      
      
        <br>
        <!--Navbar-->
      <div style="overflow:baixo">
        
      
        <div class="main" >
          <p>  <img src="pessoa.png" alt="Smiley face" height="150" width="150"> </p>
          <br>
          <p c> 
              Nome Completo<br> 
              Solteiro,Brasileiro, 22 anos<br> 
              Rua Brasil, 250 - Bairro<br> 
              CEP 13400-000 - Cidade - Estado<br> 
              Objetivo<br> 
              Descreve aqui em qual área gostaria de atuar dentro da empresa, seja breve e objetivo
              <br> <br> 
              Formação acadêmica<br> 
              2001 - 2003 - Coloque aqui nome do curso, e nome da escola<br> 
              Dica - se você tiver muitos cursos procure colocar somente os relevantes para a vaga que você deseja.
              <br> <br> 
              Experiência Profissional<br> 
              2015 - Nome da empresa atual. <br> 
              Cargo: Coloque o cargo atual que você ocupa nesta empresa <br> 
              Dica - Caso esteja sem emprego você deve apagar as linhas acima
              <br> <br> 
              1997 - 1999 - Nome da empresa <br> 
              Cargo: Coloque o ultimo cargo que ocupou na empresa. 
              <br> <br> 
              Idioma<br>  
              Informe se fala outro idioma e o nível dele ex básico, intermediário, avançado, fluente
              <br>  Dica - Caso não fale outro idioma pode colocar que esta estudando se estiver ou pode apagar a linha acima
              <br> <br> 
              Informações adicionais<br> 
              Coloque aqui informações que acha relevante para esta vaga.  
          </p>
      </div>
      
      <div style="background-color:#4d1666;text-align:center;padding:5px;margin-top:5px;">
          <font face ="Brush script mt"><h1>Luana Cristina</h1></font>
      </div>
</div>
<!--FIM Layout pagina-->
<router-outlet></router-outlet>
